<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">

        <!-- 关键：过滤掉 DEBUG -->
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>

        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level %logger - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="org.apache.zookeeper" level="WARN"/>

    <!-- 不强制改 root 逻辑 -->
    <root level="DEBUG">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>